{% extends "base.html" %}

{% block content %}

<h1 class='text-center'>The TAJ ....</h1>


{% load static %}
<div class="d-flex  align-items-center ">
    <div>
        <h2>Welcome To The TAJ Hotel</h2> <br>
        <b> Owend By TATA <br>
            CELEBRATING DUAL WINS
            Taj has yet again been ranked as World’s Strongest Hotel Brand and India’s Strongest Brand across sectors as
            per Brand Finance Hotels 50 Report 2024 and India 100 Report 2024. We owe this win to your unstinting love
            and support that keeps us inspired.</b>
    </div>

</div>


{% endblock content %}